<ul id="results">
  {{#predictions}}
    {{> prediction }}
  {{/predictions}}
</ul>
<footer>
  <h1>Route {{routeNumber}}: {{routeDirection}}</h1>
  <p>SMS: Text "{{busNumber}}" to <a href="sms:1-754-227-2287">(754) 227-2287</a></p>
  <!-- <p>Updated: 8 seconds ago</p> -->
</footer>