body{
  background-color: #130f30;
  color: #ddd;
  font-family: "Helvetica Neue";
  margin: 0;
  padding-bottom: 30px;
}
footer h1{
  color: #aaa;
  font-size: 1.6em;
}
footer{
  color: #a9a9a9;
  font-size: 0.8em;
  text-align: center;
}
#results{
  background-color: rgba(247, 83, 23, 0.8);
  margin: 0;
  padding: 0;
  width: 100%;
}
#results li{
  font-size: 2em;
  height: 1.75em;
  list-style: none;
  position: relative;
}
#results .destination, #results .estimate{
  font-weight: bold;
  overflow: hidden;
  position: absolute;
  top: 8px;
}
#results .destination{
  left: 5px;
}
#results .estimate{
  color: #eee;
  right: 5px;
}
.meter{
  background-color: #130f30;
  display: block;
  height: 100%;
  width: 50%;
}
a{
  color: #eee;
}